@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root{
  --color-primary: #10243a;
  --color-accent: #f4c542;
  --color-neutral: #f7f7fb;
  --font-heading: "Poppins";
  --font-body: "Open Sans";
}

/* base styles */
html,body,#__next{height:100%}
body{
  font-family: var(--font-body);
  background: var(--color-neutral);
  color:#0b1220;
  margin:0;
}
a{ color: var(--color-primary) }
.container{ max-width:1100px; margin:0 auto; padding-left:1rem; padding-right:1rem; }
.bg-neutral{ background:var(--color-neutral) }
